.showcase1 {
  height: 400px;
}
.showcase1 .wrapper {
  height: 100%;
}
.showcase1 .head {
  font-size: 70px;
}
.showcase1 p {
  font-family: "medium";
  position: relative;
  max-width: 420px;
}
.showcase1 p::after {
  left: 50%;
  transform: translateX(-50%);
  bottom: -13px;
  background-color: #fff;
  width: 60px;
  height: 2px;
  display: none;
}

@media screen and (max-width: 1000px) {
  .showcase1 .head {
    font-size: 50px;
  }
}
@media screen and (max-width: 500px) {
  .showcase1 .head {
    font-size: 36px;
  }
}
