.result_page {
    width: 100%;
}
.result_page .wrapper {
    width: 900px !important;
    padding-top: 160px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding-bottom: 50px;
}
.result_page .title1 .head {
    margin-bottom: 18px;
    font-family: "medium";
}
.result_page .title1 .head::after {
    display: none;
}
.result_page table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}
.result_page .cost_table {
    border-bottom: 1px solid #e9214f;
    margin-top: 50px;
    margin-bottom: 20px;
}
.result_page table td {
    font-family: "book";
    padding-top: 10px;
    padding-right: 20px;
}
.result_page .cost_table td {
    max-width: 260px;
}
.result_page .cost_table .cm {
    justify-content: flex-start;
    color: #e9214f;
}
.result_page .cost_table .cm img {
    margin-right: 5px;
}
.result_page .comment td {
    font-family: "light";
}
.result_page .cost_table .border {
    border-bottom: 1px dashed #e921504f;
    height: 10px;
}
.result_page .cost_table tr th {
    font-family: "bold";
    text-align: right;
    padding-right: 50px;
    padding-top: 9px;
    width: 30%;
    max-width: 200px;
}
.result_page table tr {
    vertical-align: top;
}
.result_page .cost_table tr:last-child {
    border-bottom: none;
}
.result_page .cost_table tr:last-child td {
    padding-bottom: 30px;
}
.result_page .result_table th {
    text-align: left;
    padding: 10px;
}
.result_page .result_table tr td:first-child {
    max-width: 600px;
}
.result_page .btm_btns {
    margin-top: 50px ;
}
.result_page .btm_btns .main_btn {
    margin-left: 15px;
}
.result_page .main_btn:nth-child(2) .stationary {
    background-color: #e9214f;
}
.result_page .main_btn:nth-child(2) .hover {
    background-color: #272639;
}
.result_page .dl_pdf {
    font-size: 22px;
}
.result_page .dl_pdf img {
    margin-right: 6px;
}

/* popup */
.request_background {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #5e8aac81;
    z-index: 1000;
    transition: 1s;
    visibility: hidden;
    opacity: 0;
}
.request_background.shown {
    visibility: visible;
    opacity: 1;
}
.request_popup {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 572px;
    background-color: #fff;
    text-align: center;
    padding: 55px 88px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transform: translate(-50%, 0%);
    visibility: hidden;
    opacity: 0;
    transition: 0.6s;
}
.request_popup.open {
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
}
.request_popup .close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.request_popup p {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: "light";
}
.request_popup .title {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: "book";
}
.request_popup input {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #e9214f;
    padding-top: 18px;
}
.request_popup .main_btn {
    margin-top: 50px;
    margin-bottom: 14px;
    background-color: #e9214f;
}
.request_popup a {
    font-family: "light";
    color: #5e8aac;
    font-size: 18px;
    text-decoration: underline;
}

/* responsiveness */
@media screen and (max-width: 950px) {
    .result_page {
        width: 95% !important;
        padding-top: 100px;
    }
    .result_page .tables {
        overflow-x: scroll;
        padding-bottom: 20px;
    }
    .result_page table {
        width: 900px;
    }
    .result_page .tables::-webkit-scrollbar {
        height: 5px;
    }
    .result_page .tables::-webkit-scrollbar-thumb {
        background-color: #e9214f;
    }
}
@media screen and (max-width: 650px) {
    .result_page .btm_btns {
        margin: 30px 0;
        flex-direction: column;
        align-items: flex-start;
    }
    .result_page .btm_btns .main_btn {
        margin-left: 0;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 15px;
        width: 170px;
    }
    .request_popup {
        width: 90%;
        padding: 40px 30px;
    }
    .request_popup .title {
        font-size: 28px;
        margin-bottom: 12px;
    }
}
@media screen and (max-width: 450px) {
    .result_page .btm_btns .main_btn {
        font-size: 14px;
        width: 150px;
        height: 50px;
    }
    .request_popup .title {
        font-size: 22px;
        margin-bottom: 8px;
    }
    .request_popup p {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .request_popup .main_btn {
        margin-top: 37px;
    }
}
