/* general */
@font-face {
    font-family: "tbc-regular";
    src: url(fonts/tbc-din-mtavruli/TbcDin_Mtavruli_Regular.otf);
}
@font-face {
    font-family: "tbc-bold";
    src: url(fonts/tbc-din-mtavruli/TbcDin_Mtavruli_Bold.otf);
}
*,
*::after,
*::before {
    font-family: "tbc-regular";
}
body {
    font-family: "tbc-regular";
}
.bold {
    font-family: "tbc-bold";
}
