.footer {
    padding: 100px 0;
    background: #f6f6f6;
}
.footer .flex {
    align-items: flex-start;
}
.footer_content {
    margin: 60px 0;
}
.footer .map {
    width: 260px;
    height: 128px;
    margin-right: 16px;
    margin-bottom: 26px;
}
.footer .locations {
    margin-right: 50px;
}
.footer .locations p {
    font-family: "bold";
    margin-left: 9px;
    color: #272639;
}
.footer .locations .flex {
    margin-bottom: 25px;
    justify-content: flex-start;
    align-items: center;
}
.footer .links .column {
    margin-right: 40px;
}
.footer .links .title {
    font-family: "extra-bold";
    margin-bottom: 10px;
    color: #272639;
    white-space: nowrap;
}
.footer .links .in_link {
    font-size: 16px;
    margin-bottom: 15px;
}
#language_switcher {
    position: relative;
    width: 131px;
}
#language_switcher .main {
    border: 2px solid #272639;
    border-top: 2px solid #272639;
    background-color: #f6f6f6;
    transition: 0.5s;
}
#language_switcher:hover .main {
    border-top: 2px solid #e81747;
}
#language_switcher .lang {
    justify-content: flex-end;
    align-items: center;
    padding: 3px 10px;
    width: 100%;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}
#language_switcher .lang img {
    margin-left: 5px;
    position: absolute;
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
    opacity: 1;
}
#language_switcher .dropup {
    position: absolute;
    right: 0;
    bottom: calc(100% - 2px);
    width: 100%;
    border: 2px solid #272639;
    transform: scaleY(0.5);
    transform-origin: bottom;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
#language_switcher:hover .dropup {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}
#language_switcher .dropup a:first-child .lang {
    border-bottom: #272639 solid 2px;
}
#language_switcher .dropup .lang::after {
    background-color: #e81747;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    z-index: -1;
    transition: 0.3s;
}
#language_switcher .dropup .lang:hover {
    color: #fff;
}
#language_switcher .dropup .lang:hover::after {
    transform: scaleY(1);
}

/* responsiveness */
@media screen and (max-width: 1550px) {
    .footer .locations {
        margin-right: 30px;
    }
    .footer {
        padding: 60px 0;
    }
    .footer_content {
        margin: 44px 0;
    }
    .footer .links .column {
        margin-right: 30px;
    }
}
@media screen and (max-width: 1450px) {
    .footer .links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 40px;
        grid-gap: 20px;
    }
    .footer_content {
        justify-content: flex-start;
    }
    .footer .links .column {
        margin-right: 0;
    }
    .footer .locations {
        margin-right: 0;
    }
}
@media screen and (max-width: 1200px) {
    .footer_content {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .footer .links {
        margin-left: 0;
        margin-right: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer .links .column:first-child {
        grid-row: 2;
        grid-column: 1;
    }
    .footer .links .column:nth-child(2) {
        grid-row: 1;
        grid-column: 2;
    }
}
@media screen and (max-width: 1010px) {
    .footer_content {
        flex-direction: column-reverse;
    }
    .footer .links {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 800px) {
    .footer .links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 10px;
    }
}
@media screen and (max-width: 600px) {
    .footer .links {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer .map {
        width: 95%;
    }
}
@media screen and (max-width: 450px) {
    .footer .links {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .footer .locations {
        flex-direction: column;
    }
    .footer .map {
        width: 100%;
        margin-right: 0;
    }
    .footer .links .column:first-child {
        grid-column: 2;
    }
}
