.blog_item {
  max-width: 483px;
}
.blog_item .img {
  width: 100%;
  height: 257px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.blog_item .img::after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e817484f;
  transform: scaleY(0.5);
  opacity: 0;
  transform-origin: top;
  transition: 0.5s;
  z-index: 10;
}
.blog_item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog_item .img .date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  font-size: 16px;
  padding: 12px 26px;
  color: #27263998;
  z-index: 20;
}
.blog_item .text35 {
  margin-bottom: 20px;
  transition: 0.5s;
}
.blog_item p {
  margin-bottom: 20px;
  color: #27263998;
  font-family: "book";
}
.blog_item:hover .img::after {
  transform: scaleY(1);
  opacity: 1;
}
.blog_item:hover .text35 {
  color: #e81748;
}

/* responsiveness */
@media screen and (max-width: 1400px) {
  .blogs_section hr {
    margin: 0 20px;
  }
  .blog_item .text35 {
    margin-bottom: 11px;
  }
  .blog_item .img {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .text35 {
    font-size: 28px;
  }
}
@media screen and (max-width: 1000px) {
  .blog_flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .blog_flex hr {
    display: none;
  }
  .blogs_section {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 600px) {
  .blog_flex {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .blog_item {
    max-width: none;
  }
}
