/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.cost_table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    font-family: "roboto" !important;
}
.cost_table {
    border-bottom: 1px solid #e9214f;
    margin-top: 50px;
    margin-bottom: 20px;
}
.cost_table td {
    font-family: "book";
    padding-top: 10px;
    padding-right: 20px;
    font-family: "roboto" !important;
}
.cost_table td {
    max-width: 260px;
    vertical-align: top;
}
.cost_table .cm {
    justify-content: flex-start;
    color: #e9214f;
}
.cost_table .cm img {
    margin-right: 5px;
}
.result_page .comment td {
    font-family: "light";
}
.cost_table .border {
    border-bottom: 1px dashed #e921504f;
    height: 10px;
}
.cost_table tr th {
    font-family: "bold";
    text-align: right;
    padding-right: 50px;
    padding-top: 9px;
    max-width: 200px;
    vertical-align: top;
    color: rgb(24, 24, 24);
    font-family: "roboto" !important;
}
.cost_table tr {
    vertical-align: top;
    border: none;
}
.cost_table tr:last-child {
    border-bottom: none;
}
.cost_table tr:last-child td {
    padding-bottom: 30px;
}
